@import url("normalize.css");

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#webify {
    position: absolute;
    top: 40px;
    left: 50px;
    height: 50px;
}

#graphic {
    position: absolute;
    top: 20vh;
    left: 20vw;
    height: 500px;
}

#wrapper {
    position: absolute;
    top: 32vh;
    right: 25vw;
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    /* border: 1px solid red; */
    justify-content: center;
    row-gap: 20px;
    gap: 15px;
}

#wrapper div {
    position: relative;
}

input {
    width: 220px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #e3ade0;
    padding-left: 7px;
    transition: all .2s ease-in-out;
}

input::placeholder {
    color: #e3ade0;
    font-size: 14px;
}

span {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    pointer-events: none;
    color: #e3ade0;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

input:focus ~ span {
    transform: translate(0px, -22px);
    background-color: #e38ddd;
    color: white;
    padding: 3px 5px;
    font-size: 70%;
    border-radius: 5px;
}

input:focus {
    box-shadow: 0px 1px 5px #e38ddd9c;
    border: 2px solid #e38ddd;
    outline: none;
}

.active {
    transform: translate(0px, -22px);
    background-color: #e38ddd;
    color: white;
    padding: 3px 5px;
    font-size: 70%;
    border-radius: 5px;
}

button {
    position: absolute;
    cursor: pointer;
    top: 180px;
    background-color: #e38ddd;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 7px 25px;
    font-weight: 600;
    font-size: 15px;
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: #d481cf;
}

#strength {
    display: none;
    gap: 3px;
    position: relative;
    top: 10px;
    left: 5px;
}

#strength div {
    width: 40px;
    height: 5px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
}

#status {
    position: relative;
    color: grey;
    font-size: 13px;
    top: 14px;
    left: 5px;
}

#strength div.red {
    background-color: rgb(255, 54, 54);
    border: 1px solid red;
}

#strength div.orange {
    background-color: rgb(255, 180, 40);
    border: 1px solid orange;
}

#strength div.green {
    background-color: rgb(43, 146, 43);
    border: 1px solid green;
}