@import url("normalize.css");

body {
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    margin-top: 45vh;
    /* border: 1px solid red; */
    justify-content: space-between;
    row-gap: 20px;
}

#wrapper div {
    position: relative;
}

input {
    width: 220px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #e3ade0;
    padding-left: 7px;
}

span {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    pointer-events: none;
    color: #e3ade0;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

input:focus ~ span {
    transform: translate(0px, -22px);
    background-color: #e38ddd;
    color: white;
    padding: 3px 5px;
    font-size: 70%;
    border-radius: 5px;
}

input:focus {
    box-shadow: 0px 1px 5px #e38ddd;
    border: 2px solid #e38ddd;
    outline: none;
}

.active {
    transform: translate(0px, -22px);
    background-color: #e38ddd;
    color: white;
    padding: 3px 5px;
    font-size: 70%;
    border-radius: 5px;
}
